.delete {
    color: rgb(197, 38, 10);
    margin-right: 15px;
}

.edit {
    color: rgb(10, 69, 197);
    margin-right: 15px;
}

.executed {
    color: rgb(64, 110, 4);
    margin-right: 15px;
}

.expired {
    color: rgb(238, 214, 1);
    margin-right: 15px;
}

// .small {
//     max-width: 10px;
// }