<div class="container">
    
    <br><h3 align="center"> ToDoList </h3><br>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Importance</th>
            <th scope="col">Actions</th>
            <th scope="col">Created date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Ordinary</td>
            <td>
                <div align="center">
                    <a href="" class="edit">edit  </a>
                    <a href="" class="delete">delete  </a>
                    <a href="" class="executed">executed  </a>
                    <a href="" class="expired">expired</a>
                </div>   
            </td>
            <td>21.11.20</td>
          </tr>
        </tbody>
      </table>   
</div>