<div class="container">
    <div>
        
        <br><a routerLink="/create">Добавить задание</a>
        <h3 align="center"> ToDoList </h3><br>
    </div>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Importance</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
            <th scope="col"><a href="">delete many</a></th>
            <th scope="col">Created date</th>
          </tr>
        </thead>
        <tbody *ngFor="let todo of todos; let i = index;">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ todo.title }} </td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.description }}</td>
            <td>
                <div align="center">
                    <a [routerLink]="['/update', todo._id]" class="edit">edit  </a>
                    <a 
                      href="" 
                      onclick="event.preventDefault()" 
                      (click)="removeTodo(todo._id)" 
                      class="delete">delete  
                    </a>
                    
                    <a href="" class="executed">executed  </a>
                    <a href="" class="expired">expired</a>
                </div>   
            </td>
            <td><div align="center"><input  type="checkbox" ></div></td>
            <td>21.11.20</td>
          </tr>
        </tbody>
      </table>   
</div>