<div class="container">
    <div>
        
        <br>
        <a routerLink="/create">Добавить задание</a>

        <div class="right">
          <select 
            class="form-control" 
            formControlName = "category"
          >
            <option>ordinary</option>
            <option>important</option>
            <option>very-important</option>
        </select>
        </div>

        <h3 align="center"> ToDoList </h3><br>
    </div>
    
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Done</th>
            <th scope="col" >Title</th>
            <th scope="col">Importance</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
            <th scope="col"><a href="" onclick="event.preventDefault()" (click)="deleteMany()">delete selected</a></th>
            <th scope="col">Created date</th>
          </tr>
        </thead>
        <tbody *ngFor="let todo of todos; let i = index;">
          <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <div align="center">
                <input 
                  type="checkbox" 
                  [checked]="todo.completed"
                >
              </div>
            </td>
            <td [class.done]="todo.completed">{{ todo.title }} </td>
            <td>{{ todo.category }}</td>
            <td>{{ todo.description }}</td>
            <td>
                <div align="center">
                    <a [routerLink]="['/update', todo._id]" class="edit">edit  </a>
                    <a 
                      href="" 
                      onclick="event.preventDefault()" 
                      (click)="removeTodo(todo._id)" 
                      class="delete">delete  
                    </a>
                    
                    <a href="" class="executed">completed ({{todo.completed}}) </a>
                    <a href="" class="expired">expired ({{todo.expired}})</a>
                </div>   
            </td>

            <td>
              <div align="center">
                <input 
                  type="checkbox" 
                  (click)="changeIsChecked( todo._id )"
                >
                <h3></h3>
              </div>
            </td>

            
            <td>{{ todo.created_date | date}}</td>
          </tr>
        </tbody>
      </table>   
</div>
