<div class="container">
    <div class="centr">
    <br><h3 align="center"> Страница редактирования задания </h3><br>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Название задания</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="введите название">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Важность</label>
          <select class="form-control" id="exampleFormControlSelect1" >
            <option>ordinary</option>
            <option>important</option>
            <option>very-important</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Описание задания</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="введите описание"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a [routerLink]="['/']" class="right"> Вернуться на главную страницу  </a>
      </form>
    </div>
</div>